doctype
html(lang="en")
    head
        title Submit Form
        body
            form(name="isiNama",method="post",action="/")
                div.input
                    span.label Nama Awal &nbsp;
                    input(type="text", name="namaawal")

                div.input
                    span.label Nama Akhir &nbsp;
                    input(type="text", name="namaakhir")
                    div.actions
                        input(type="submit", value="Simpan")